html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
  }

  p{
    line-height: 1.2rem;
    font-family: 'Roboto', sans-serif;
  }
  ol, ul {
    list-style: none;
    line-height: 1.2rem;
    font-family: 'Roboto', sans-serif; 
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

.container{
    padding: 0 10% 0;
  }
.nav{
    background-color: #86aad2;
    padding: 0.5rem 0;
}
.nav h1 {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    font-size: 1.7rem;
}

.secondary-nav{
    background-color: #d7e3f1;
}

.filter{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.treats-list {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.card{
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #80808080;
}
.card-image {
    position: relative;
}
.card-image img{
    border-radius: 5px 5px 0 0;
}

.card-info {
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: 0 0 5px 5px;
}
.card-title {
    padding-bottom: 0.2rem;
}
.card-price {
    font-weight: 300;
}

.card-hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f96;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    padding: 0.3rem 1.2rem;
    background-color: #f58181;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

.button-details {
    background-color: #e69b60;
}

.lightbox {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-inner {
    background-color: white;
    position: fixed;
}
.lightbox-wrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.details-info {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-image-img {
    border-radius: 5px;
}

.details-wrapper {
    display: flex;
    border-radius: 5px;
    padding: 2rem;
}
.quote-wrapper {
    display: flex;
    border-radius: 5px;
    padding: 2rem;
}
.quote-form {
    display: flex;
    flex-direction: column;
}

.quote-row{
    display: flex;
    flex-direction: column;
}

.filter-list {
    display: flex;
}
.filter-list li {
    padding: 0 20px;
    text-transform: uppercase;
    cursor: pointer;
}